<div class="row">
  <div class="small-12 large-12 columns">
    <p>Some projects I've been working on recently, I hope you find them interesting</p>
  </div>
    <%= I18n.locale %>

  <div class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
    <li>
    <div class="row">
      <div class="small-12 large-12 columns">
        <%= image_tag 'funda011.jpg' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <p> blablablabla </p>
      </div>
    </div>
    </li>
    <li>
    <div class="row">
      <div class="small-12 large-12 columns">
        <%= image_tag 'funda012.jpg' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <p> blablablabla </p>
      </div>
    </div>
    </li>
    <li>
    <div class="row">
      <div class="small-12 large-12 columns">
        <%= image_tag 'funda021.jpg' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <p> blablablabla </p>
      </div>
    </div>
    </li>
    <li>
    <div class="row">
      <div class="small-12 large-12 columns">
        <%= image_tag 'funda022.jpg' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <p> blablablabla </p>
      </div>
    </div>
    </li>

  </div>
</div>
